* {
    padding: 0px;
    margin: 0px;
}

body {
    margin-right: 5%;
    margin-left: 5%;
}

h1 {
    text-align: center;
    padding: 10px;
}

h2 {
    margin-top: 15px;
}

img {
    margin-right: 15px;
    width: 200px;
    height: 200px;
}

.item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: x-large;
}